{% if infos_page.element_infos is defined %}

<div class="modal" id="modal-form-modif" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="index.php?page={{page}}" method="post" enctype="application/x-www-form-urlencoded"> <!-- (à modifier en fonction de la page) -->
                <div class="modal-header">
                    <h5 class="modal-title">Modification d'une Entreprise</h5> <!-- Titre du popup d'ajout (à modifier en fonction de la page) -->
                </div>
                <div class="modal-body"> <!-- Entrée du formulaire -->
                    {% if infos_page.message_invalid_modif is defined %}
                    <div class="alert alert-danger" role="alert">
                        {{ infos_page.message }} <!-- affichage du message d'erreur -->
                    </div>
                    {% endif %}

                    <input name="id" type="hidden" value="{{ infos_page.element_infos.id }}"/> <!-- clef permettant d'idientifier l'element (à modifier en fonction de la page) -->

                    <!-- (à modifier en fonction de la page) -->
                    <div class="form-group"> <!-- Entrée du libelle -->
                        <label for="libelle">Libelle</label>
                        <input id="libelle" name="inputLibelle" type="text" class="form-control" placeholder="Libelle" value="{{ infos_page.element_infos.libelle }}" required/>
                    </div>
                    <div class="form-group"> <!-- Entrée de l'adresse -->
                        <label for="adresse">Adresse</label>
                        <input id="adresse" name="inputAdresse" type="text" class="form-control" placeholder="Adresse" value="{{ infos_page.element_infos.adresse }}" required/>
                    </div>
                    <div class="form-group"> <!-- Entrée du CP -->
                        <label for="cp">Code Postal</label>
                        <input id="cp" name="inputCp" type="text" class="form-control" placeholder="Code postal" value="{{ infos_page.element_infos.cp}}" required/>
                    </div>
                    <div class="form-group"> <!-- Entrée de la Ville -->
                        <label for="ville">Ville</label>
                        <input id="ville" name="inputVille" type="text" class="form-control" placeholder="Ville" value="{{ infos_page.element_infos.ville}}" required/>
                    </div>                    
                    <div class="form-group"> <!-- Entrée de nomContact -->
                        <label for="nomContact">Nom du contact</label>
                        <input id="nomContact" name="inputNomContact" type="text" class="form-control" placeholder="nom du contact" value="{{ infos_page.element_infos.nomContact}}" required/>
                    </div>   

                </div>
                <div class="modal-footer">
                    <button name="btModifier" type="submit" class="btn btn-purple">Modifier</button> <!-- Validation du formulaire -->
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button> <!-- Annulation du formulaire -->
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#modal-form-modif").modal("show");
    });
</script>

{% endif %}